@font-face {
    font-family: 'Heal The Web A';
    src:    url('./HealTheWebA-Regular.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Heal The Web B';
    src:    url('./HealTheWebB-Regular.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}