<div class="listen-item">
  <p>
    <a href="/sound_files/<%= track %>"><%= track %></a>
    <audio
      src="/sound_files/<%= track %>"
      width="300"
      controls
    >
    </audio>
  </p>
</div>
