/* SIMON go wild! */

@import url("/fonts/healtheweb/stylesheet.css");

:root {
  --font-body: 'Heal The Web A', serif;
  --font-header: 'Heal The Web B', sans-serif;
  --font-link: 'Heal The Web B', monospace;
  font-size: 12px;
}

body {
  color:mediumpurple;
  background: radial-gradient(lightgrey, lightpink, pink);
  overflow-x:hidden;
  font-size: 2rem;
  border: outset 1rem mediumpurple;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family:var(--font-header);
  text-shadow: 0 0 1rem blue;
}
p { font-family: var(--font-body); }
a.nav_link {
  font-family: var(--font-link);
  font-size: 3rem;
  color: mediumpurple;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}