@import url("/fonts/healtheweb/stylesheet.css");

:root {
  --font-body: 'Heal The Web A', serif;
  --font-header: 'Heal The Web B', sans-serif;
  --font-link: 'Heal The Web B', monospace;
  --theme-purple: mediumpurple;
  font-size: 10px;
}

body {
  color:mediumpurple;
  font-family: var(--font-body);
  background: radial-gradient(lightgrey, lightpink, pink);
  overflow-x:hidden;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}
h1,
h1 > a,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family:var(--font-header);
  text-shadow: 0 0 1rem blue;
}
p { font-family: var(--font-body); word-break: break-word;}

/*--------------------------------- links */
a {
  color: var(--theme-purple);
}
a.nav_link {
  font-family: var(--font-link);
  font-size: 5rem;
  color: var(--theme-purple);
}
/*--------------------------------- buttons */
input[type=button],
input[type=submit],
#recordButton,
#stopButton,
#discardButton,
#uploadButton{
        border: none;
        background-color: mediumpurple;
        color: white;
        padding: 1.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        cursor: pointer;
        font-family: var(--font-link);
        font-size: 3rem;
      }
input[type=text]:focus {
        color: #pink;
      }

/*--------------------------------- radio buttons and checkboxes */
input[type=radio] {
  appearance: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 2px solid var(--theme-purple);
  transition: 0.2s all linear;
}

input[type=radio]:checked {
  appearance: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: var(--theme-purple);
  border: 2px solid white;
  transition: 0.2s all linear;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}
li > label {
  font-family: var(--font-body);
}

#archive input ~ div {
  display: none;
}
#archive input:checked ~ div {
  display: block;
}

/*--------------------------------- archive layout */
form#archive li{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 1rem blue;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  width: 280px;
}
article.exhibition {
  padding-bottom: 2rem;
}
li > input {
  padding: 2rem;
}
li > label {
  margin-top: -1rem;
  padding-left: 1rem;
  font-size: 2rem;
}
div.cover img {
  padding-top: 1rem;
  width: 250px;
}
div.time p.start{
  margin-bottom: 1rem;
}

/*--------------------------------- prompt layout */

section form ul li label {
  padding-left: 0;
}

/*--------------------------------- recording area */

div#controls {
  padding-top: 1rem;
}
