@import url("/fonts/healtheweb/stylesheet.css");

:root {
  --font-body: 'Heal The Web A', serif;
  --font-header: 'Heal The Web B', sans-serif;
  --font-link: 'Heal The Web B', monospace;
  font-size: 12px;
}

body {
  color:mediumpurple;
  font-family: var(--font-body);
  background: radial-gradient(lightgrey, lightpink, pink);
  overflow-x:hidden;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}
h1,
h1 > a,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family:var(--font-header);
  text-shadow: 0 0 1rem blue;
  margin: 0.5rem;
}
p { font-family: var(--font-body); }
a.nav_link {
  font-family: var(--font-link);
  font-size: 3rem;
  color: mediumpurple;
}
input[type=button],
input[type=submit],
#recordButton,
#stopButton,
#discardButton,
#uploadButton{
        border: none;
        background-color: mediumpurple;
        color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        cursor: pointer;
        font-family: var(--font-link);
        font-size: 2rem;
      }
input[type=text]:focus {
        color: #pink;
      }
ul {
  list-style: none;
  padding-inline-start: 0;
}
li > label {
  font-family: var(--font-body);
}

#archive input ~ div {
  display: none;
}
#archive input:checked ~ div {
  display: block;
}

/* archive layout */
section + section form,
section form > ul,
form#archive li{
  box-shadow: 0 0 1rem blue;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
  width: auto;
}
article.exhibition {
  padding-bottom: 2rem;
}
li > input {
  padding: 2rem;
}
li > label {
  margin-top: -1rem;
  padding-left: 1rem;
}
div.cover img {
  padding-top: 1rem;
  width: 100%;
}
div.time p.start{
  margin-bottom: 1rem;
}

/* prompt layout */

section form ul li label {
  padding-left: 0;
}

/* recording area */

div#controls {
  padding-top: 1rem;
}
