@font-face {
    font-family: 'Lucette Regular';
    src:    url('./otf/Lucette-Regular.otf') format('opentype'),
            url('./ttf/Lucette-Regular.ttf') format('truetype'),
            url('./woff/Lucette-Regular.woff') format('woff'),
            url('./woff2/Lucette-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucette Italic';
    src:    url('./otf/Lucette-Regularitalic.otf') format('opentype'),
            url('./ttf/Lucette-Regularitalic.ttf') format('truetype'),
            url('./woff/Lucette-Regularitalic.woff') format('woff'),
            url('./woff2/Lucette-Regularitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
