<form
  id="archive"
  action="/Record"
  method="POST"
>
  <p>
    <ul>
      <% for ( const exhibit of list ) { %>
        <li>
          <input
            type="radio"
            name="exhibit"
            value="<%= exhibit.slug %>"
          >
          <label for="exhibit">
            <%- include( './exhibit', { exhibit } ) %>
          </label>
          <div>
            <input
              type="submit"
              value="Record"
            >
          </div>
        </li>
      <% } %>
    </ul>
  </p>
</form>
