<% const exhibit = list[ Math.floor( Math.random() * list.length ) ] %>

<form
  action="/Record"
  method="POST"
>
  <p>
    <label>
      <input
        type="radio"
        name="exhibit"
        value="<%= exhibit.slug %>"
        checked
      >
        <%- include( `./exhibit`, { exhibit }) %>
    </label>
  </p>
  <p>
    <input
      type="submit"
      value="Record"
    >
  </p>
</form>
