
<section>
  <p>Would you prefer to pick a specific exhibition or would you rather be presented with a random one?</p>
</section>

<section>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Archive:Full',
      label: 'Show me the Archive!'
    }) -%>
  </p>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Archive:Random',
      label: 'A random one would be nice'
    }) -%>
  </p>
</section>
