
<section>
  <p>Choose the kind of interaction that you'd like to have:</p>
</section>

<section>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Prompts',
      label: 'Dive in through a question'
    }) -%>
  </p>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Archive',
      label: 'Dive in through the archive'
    }) -%>
  </p>
</section>
