
<section>
  <p>Listen to mumories so far:</p>
</section>

<section id="listening-gallery">
<div class="listen-item">
  <p>
    <span>Responding to the exhibition <br><a href="https://mu.nl/en/exhibitions/computer-grrrls">https://mu.nl/en/exhibitions/computer-grrrls</a></span><br>
    <audio src="/sound_files/recording-2023-05-05T18:26:11.162Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"What did you know about MU before you arrived?"</span><br>
    <audio src="/sound_files/recording-2023-05-05T18:30:45.994Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"What did you know about MU before you arrived?"</span><br>
    <audio src="/sound_files/recording-2023-05-05T18:33:08.027Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"What sense do you associate with MU?"</span><br>
    <audio src="/sound_files/recording-2023-05-05T18:33:16.418Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"Do you want to share a memory about a specific exhibition?"</span><br>
    <audio src="/sound_files/recording-2023-05-05T19:51:55.307Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"What do you imagine the exhibition will be like?"</span><br>
    <audio src="/sound_files/recording-2023-05-06T16:11:22.276Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"Do you remember the first time you were here and what you saw?"</span><br>
    <audio src="/sound_files/recording-2023-05-17T18:14:36.004Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"What do you imagine the exhibition will be like?"</span><br>
    <audio src="/sound_files/recording-2023-05-26T12:55:33.947Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the question <br>"Do you remember the first time you were here and what you saw?"</span><br>
    <audio src="/sound_files/recording-2023-06-06T12:28:15.204Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to the exhibition <br><a href="https://mu.nl/en/exhibitions/work-with-me-people-part-iii">https://mu.nl/en/exhibitions/work-with-me-people-part-iii</a></span><br>
    <audio src="/sound_files/recording-2023-06-07T11:23:06.675Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
</section>
