
<section>
  <p>Listen to mumories so far:</p>
</section>

<section id="listening-gallery">
<div class="listen-item">
  <p>
    <span>Responding to question...</span><br>
    <audio src="sound_files/recording-2023-05-05T08:34:12.017Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to exhibition...</span><br>
    <audio src="https://mumories.hackersanddesigners.nl/sound_files/recording-2023-05-05T08:34:12.017Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to question...</span><br>
    <audio src="https://mumories.hackersanddesigners.nl/sound_files/recording-2023-05-05T08:34:12.017Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to exhibition...</span><br>
    <audio src="https://mumories.hackersanddesigners.nl/sound_files/recording-2023-05-05T08:34:12.017Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to question...</span><br>
    <audio src="https://mumories.hackersanddesigners.nl/sound_files/recording-2023-05-05T08:34:12.017Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
<div class="listen-item">
  <p>
    <span>Responding to exhibition...</span><br>
    <audio src="https://mumories.hackersanddesigners.nl/sound_files/recording-2023-05-05T08:34:12.017Z.wav" width="300" controls="">
    </audio>
  </p>
</div>
</section>
