
<section>
  <p>Choose the kind of interaction that you'd like to have:</p>
</section>

<section>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Prompts',
      label: 'Prompt-Driven Interaction'
    }) -%>
  </p>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Archive',
      label: 'Archive-Driven Interaction'
    }) -%>
  </p>
</section>
