
<section>
  <p>Have you ever been to MU before?</p>
</section>

<section>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Prompts:OldTimers',
      label: 'Yes'
    }) -%>
  </p>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Prompts:FirstTimers',
      label: 'No'
    }) -%>
  </p>
  <p>
    <%- include( `../components/navlink`, {
      to: 'Prompts:FirstTimers',
      label: 'This is my first time here'
    }) -%>
  </p>
</section>
