<section id="start-sharing">
  <%- include( `../components/navlink`, {
    to: 'Record',
    label: 'Start Sharing'
  }) -%>
</section>

<section id="start-listening">
  <%- include( `../components/navlink`, {
    to: 'Listen',
    label: 'Start Listening'
  }) -%>
</section>
