
<section>
  <p>Hello and welcome to Mumories,</p>
</section>

<section>
  <p>Sofia will introduce this project...</p>
  <p>Bla bla</p>
  <p>Bla bla bla ?</p>
  <p>kororo !</p>
</section>

<section>
  <p>Love,
  <br>The Living Archives Werkpakket</p>
</section>

<section>
  <%- include( `../components/navlink`, {
    to: 'Interaction',
    label: 'Start Sharing'
  }) -%>
</section>
