<section id="start-sharing">
  <%- include( `../components/navlink`, {
    to: 'Interaction',
    label: 'Start Sharing'
  }) -%>
</section>

<section id="start-listening">
  <%- include( `../components/navlink`, {
    to: 'Listening',
    label: 'Start Listening'
  }) -%>
</section>

<section class="about-mumories">
  <details>
    <summary><h2 class="h2-summary">Context</h2></summary>
    <p>Welcome to MUMORIES,</p>
    <p>An audio installation where you are invited to share your memories of MU. These memories are collected and form a living digital audio archive that can eventually be listened to on site but also online. The growing collection of MUMORIES made possible by this interface literally gives voice to the immaterial impact a cultural practice like MU's has on visitors. As part of the research project <a href="https://networkcultures.org/goinghybrid/" target="blank"><i>Going Hybrid</i></a>, we are zooming in on the question of how to make archives a living, breathing entity rather than a silent material collection of the past. This installation is an initial hybrid prototype around narrated memories of visitors, hence the name MUMORIES.</p>
    <p>We understand a living archive as an interactive archive, where relationships and collaboration come from outside the walls of an institution. A living archive challenges normative and dominating classification systems, relating its parts with each other and forming stories around them. A living archive is generative, organic, ever-growing, shapeshifting, and subsequently slowly decaying.</p>
    <p>If you'd like to be a part of this growing and living archive, we invite you to start sharing. Don't worry, if it's your first time at MU or you don't remember much, you can always opt for a prompt-driven interaction, as opposed to archive-driven. We look forward to hearing your MUMORIES.</p>
    <p>MUMORIES is a collaboration of MU with <a href="https://thehmm.nl/" target="blank">The Hmm</a>, <a href="https://hackersanddesigners.nl" target="blank">Hackers & Designers</a> and <a href="https://varia.zone" target="blank">Varia</a> as part of the <i>Going Hybrid</i> research project, a 24 month-long research project into the future of hybridity for the cultural field, from <a href="https://networkcultures.org/" target="blank">Institute of Network Cultures</a> and <a href="https://www.wdka.nl/" target="blank">Willem de Kooning Academy/Piet Zwart Institute</a>, generously supported by <a href="https://regieorgaan-sia.nl/" target="blank">RAAK/SIA</a>.</p>
  </details>
  <details>
    <summary><h2 class="h2-summary">Consent</h2></summary>
    <p>By uploading your MUmory to this website, you give your consent for us to publish it on this website, within the context of the "Hybrid Tales For Hybrid Times" exhibition, and other public manifestations of the Going Hybrid research project. If you would like to delete your recording from this website, please contact us at <a href="mailto:mumories@proton.me">mumories@proton.me</a></p>
  </details>
</section>