<form
  action="/Record"
  method="POST"
>
  <p>
    <ul>
      <% for ( const prompt of list ) { %>
        <li>
          <label>
            <input
              type="checkbox"
              name="chosen_prompts"
              value="<%= prompt %>"
            >
              <%- include( './prompt', { prompt } ) %>
          </label>
        </li>
      <% } %>
    </ul>
  </p>

  <p>
    <input
      type="submit"
      value="Record"
    >
  </p>
</form>
